.exchange {
    display: flex;
    flex-direction: row;
    height: 75px;
    border-bottom: 1px solid #0CA789;
    background-color: #1A1A1A;


}

.exchange_elements {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    color: #0CA789;
    width: 150px;
}
.buy{
    color: #0CA789;
}
.sell{
    color: #F24726;
}

.name{
    width: 100px;
}